#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Centering container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Centered content */
.centered-content {
  text-align: center;
}

/* GitHub button styling */
.github-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #24292e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  min-width: 240px;
}

.github-button img.github-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Initialize repo button styling */
.init-repo-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 240px;
}

.github-text {
  flex: 1
}

.init-repo-button:hover {
  background-color: #0056b3;
}

.github-button:hover {
  background-color: #3d3d3d;
}
